name: Release

on:
  push:
    branches:
      - main
      - beta

jobs:
  release:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      issues: write
      pull-requests: write
      packages: write

    steps:
      - name: Checkout Commit
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          token: ${{ secrets.BOT_TOKEN }}

      - name: Use Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '22.x'
          registry-url: 'https://npm.pkg.github.com'
          scope: '@growthspace-engineering'
        env:
          NODE_AUTH_TOKEN: ${{ secrets.BOT_TOKEN }}

      - name: Install Dependencies
        run: npm ci
        env:
          NODE_AUTH_TOKEN: ${{ secrets.BOT_TOKEN }}

      - name: Release
        id: semantic-release
        env:
          GITHUB_TOKEN: ${{ secrets.BOT_TOKEN }}
          GIT_AUTHOR_NAME: gr0wth-b0t
          GIT_AUTHOR_EMAIL: gsBot@growthspace.com
          GIT_COMMITTER_NAME: gr0wth-b0t
          GIT_COMMITTER_EMAIL: gsBot@growthspace.com
          NPM_TOKEN: ${{ secrets.BOT_TOKEN }}
          NODE_AUTH_TOKEN: ${{ secrets.BOT_TOKEN }}
        run: npm run release

